*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Teko', sans-serif;
  background-color: #F3EFE0;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 80%;
  font-size: 40px;
  position: static;
}

h1 {
  font-size: 3rem;
  margin: 50px auto 0 auto;
  color:#22A39F;
}

h2 {
  font-weight: lighter;
  font-size: 2.5rem;
  margin-top: -10px;
  color:#434242;
}

.nav_b {
  padding-left: 30px;
}
.head_bio{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.pic-profile{
  border-radius: 360px;
  float:left;
    margin-right: 30px;
}
.intro_bio{
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  width: 70%;
  margin: 10px auto 30px auto;
}
