body {
  font-family: 'Teko', sans-serif;
  background-color: #F3EFE0;
}
#profile{
  background-color: #68B984;
}
h1 {
  font-size: 3rem;
  margin: 50px auto 0 auto;
  color: #22A39F;
}

h2 {
  font-weight: lighter;
  font-size: 2.5rem;
  margin-top: -10px;
  color: #434242;
}

hr {
  color: #434242;
  border: dotted 6px;
  border-bottom: none;
  margin: 1rem auto 1rem auto;
  width: 4%
}

.nav_b {
  padding-left: 30px;
}

.head_bio {
  width: 50%;
  margin: 5% 15% 5% auto;
  text-align: left;
}

.pic-profile {
  border-radius: 360px;
  float: left;
  margin-right: 30px;
}

.intro_bio {
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* My skills */
#Skills {
  padding: 3% 20%;
  text-align: center;
  /* background-color: #68B984; */
}

.container-fluid {
  padding: 3% 15%;
}

.head-skills {}

.Programming {
  /* background-color: red; */
}

.icon {
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px 0 15px ;
}

/* My Education */
#Educations {
    padding: 3% 20%;
  text-align: center;
  margin-top: 2rem;
}

.Educations {
  font-size: clamp(16px,2.5vw,32px;)
}

th {
  margin-bottom: 1rem;
}
.Date-edu{
}
.Detail-edu {
  text-align: left;
  padding: 3%
  padding-left: 100px;
}
