
  @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Righteous&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Righteous" ,sans-serif ;
 
}

.container-fluid{
  padding: 3% 15% 7%;
}
/* Navbar */

.navbar-brand{
  margin-left: 50px;
  font-size: 2.5em;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 2em;
 font-weight: lighter;
 /* color: red; */
}

/* My Bio */
.bio{
  margin-top: 250px;
  width: 50%;
  margin-left: 33% ;
  text-align: left;
}
.bio-pic img{
  width: 300px;
  border-radius: 100px;
  float: left;
  margin-right: 30px;
}
.bio-text{
  padding-top: 30px;
}
.bio-text h1 h2{
  font-size: 2em;
  font-weight: bold;
}
.bio-text p{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Golos Text', sans-serif;
}
/*Education & Expreiences*/

#Detail{
  margin-top: 200px;
}
.educations h2 {
  text-align: center;
}
.educations table {
  margin-top: 70px;
}

table{
   border-collapse:inherit;
    border-spacing: 50px; 
  } 

.experience h2 {
  text-align: center;
}
/*SKILLS*/
#Skills{
  margin-top: 100px;
}
#Skills h2{
  text-align: center;
}
#Skills .row{
  margin-top: 20px;
   text-align: center;
}
#Skills img{
  
  margin-top: 30px;
  margin-right: 20px;
  width: 50px;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

#projects {
  margin-top: 100px;
}
#projects h2{
  text-align: center;
}
